.textEditor{
    width :80%;
    height: 200px !important ;
}

.checkbox-container {
    display: flex;
    cursor: pointer;
    align-items: center;
    padding-top: 10px;
  }
  
  .checkbox {
    width: 15px;
    height: 15px;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
  }
  
  .checked {
    background-color: #35d6ed;
    color: #fff;
  }
  
  .checkmark {
    font-size: 14px;
  }
  
  .label {
    font-size: 16px;
    padding-right:10px;
  }

  .container {
    display: flex;
    flex-direction: column;
  }
  
  .dropdown {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
  }
  
  label {
    margin-right: 10px;
  }

  .field-container {
    margin-top: 5px !important;
    border: 1px solid #000000;
    width: 500px;
    padding: 10px;
  }

  
.field-container input {
    display: block;
  }

.multiple{
    display:flex;
flex-wrap: wrap;}

.div1,
.div2 {
  width: 100%;
}
